/* body {
    background-image: url('../img/showcase.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */

#search_box {
    margin: 70px 90px 8px 60rem;
    width: 50%;
    background-color: #9e9e9e9e;
    border-radius: 5px;
    border-bottom: 0px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

#grid .grid {
    padding: 0.5rem;
}


/* mobile */

@media (max-width: 650px) {
    #grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        width: 100%;
    }
}